{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar página{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<style>
  .formulario {
  width: 727px ;
  margin:  10px; 
  background-color: #d54806e1;
}


.formulario_label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px;
}

.formulario_label select{
  width: 70%;
  margin-bottom: 10px;
}
.formulario_label textarea{
  margin-right: 200px;
  margin-bottom: 10px;
  
}

.formulario_label label{
  width: auto;
  margin-bottom: 10px;
}
  body {
    background-image: url("{% static '/core/img/Fondo_page.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0px;
    color: aliceblue;
  }
  .custom-text2 {
    color: rgba(255, 255, 255, 0.627);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: 1px rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: bold;
  }
  .formulario_input[type="text"],
.formulario_input[type="number"],
.formulario_textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.685);
}

  .formulario_input[type="radio"] {
    margin-bottom: 5px;
  }

  .formulario_input[type="submit"] {
    background-color: #00ff08;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .formulario_input[type="submit"]:hover {
    background-color: #45a049;
  }

</style>


<main role="main" class="formulario_textarea">
  <div class="formulario">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <p style="color:rgb(9, 255, 0); font-size: 20px;">
              Pagina editada correctamente.
            </p>
          {% endif %}
          <form class="formulario_label" method="post">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <br>
            <input class="formulario_input" type="submit" value="Actualizar página" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}